body {
  margin: 0;
  display: flex;
  justify-content: center;
}

#container {
  aspect-ratio: 1/1;
    border: black, solid, 2px;
    height: 90vh;
    padding: 5vh;
    margin: 5vh;
  display: flex;
  flex-direction: column;
  
    flex-wrap: wrap;
   
  }

  #grid-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    flex: 1;
    padding: 0;
    margin: 0;
    border: 1px, solid, lightgray;

  }

  .divRow {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex: 1;

  }
  
  .divCell {
    display: flex;
    flex: 1;
    width: 100%;
    
    
    border: 1px, solid, lightgray;
    
  }

  #controls {
    background-color: lightcyan;
  }
  /*div {
    display: flex;
    border: black, solid, 2px;
    background-color: lightpink;
  }*/